.val-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 30px auto;
    padding: 10px 30px 30px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    background-color: #fefefe;
    overflow-y: auto;
}

table {
    display: block;
    max-width: 99%;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.avatar {
    min-width: 30px;
    width: 40%;
    border-radius: 50%;
}

.pagination-button {
    margin: 5px;
    cursor: pointer;
    border: 0;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
}

.pagination-button:hover {
    background-color: grey;
}

.selected {
    background-color: grey;
}
